@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: 5px;
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 400px;
}

th,td {
    border: 1px solid black;
}

th { 
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    padding: 2px;
}

.notas {
    text-align: center;
}

.media {
    text-align: center;
    background-color: gray;
    color: white;
}