@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%vw;
    margin: 5px;
}

table {
    text-align: center;

}

td {
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    width: 60px;
    box-sizing: border-box;
}

td:hover {
    border: 3px solid rgba(77, 24, 138, 0.856);
    transform: translate(3px, -3px); /* desloca a imagem eixo X, eixo y */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    transition: transform .3, border 1s; /* tempo de transição dos atributos TRANSFORM e BORDER  */
    width: 100px;
    height: 100px;
    font-size: larger;
}

.massa {
    font-size: 10px;
}

.nome {
    font-size: small;
}

.MetaisAlcalinos {
    background-color: #fc3435;
}

.GasesNobres {
    background-color: #309a66;
    color: white;
}

.MetaisTransicao {
    background-color: #f9e900;
}

.MetaisRepresentativos {
    background-color: #2f82d1;
}

.SemiMetais {
    background-color: #4cfdd8;
}

.MetaisAlcalinosTerrosos {
    background-color: #fe7e01;
}

.Halogenios {
    background-color: #643597;
    color: red;
}

.NMetais {
    background-color: #b168ff;
}

.Lantanideos {
    background-color: #66ce9b;
}

.actinideos {
    background-color: #d14fa8;
}