<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Grid e flexbox</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="#">Logo</a>

        <menu>
            <ul class="menu">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </menu>
    </header>

    <main>
        <h1>Section Flexbox</h1>

        <section class="flex">
            <div>
                <figure>
                    <img src="imagens/lobo1.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo2.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo3.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo2.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo1.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo3.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
        </section>

        <!-- starting Grid -->
        <h1>Section Grid</h1>
        <section class="grid1">
            <div>
                <figure>
                    <img src="imagens/lobo1.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo2.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo3.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo2.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo1.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo3.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo2.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo1.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="imagens/lobo3.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>lobo dormindo</figcaption>
                </figure>
            </div>
            <div class="anuncio">
                <figure>
                    <img src="imagens/lobo3.jpg" alt="imagem de um lobo dormindo">
                    <figcaption>Anúncio</figcaption>
                </figure>
            </div>
        </section>
    </main>

</body>
</html>